<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous">
</head>
<body>
<app-background></app-background>
<div class="container"></div>
<div class="modal">
  <div class="modal-container">
    <div class="modal-left">
      <h1 class="modal-title">Bienvenido</h1>
      <p class="modal-desc">Florería Rosazz</p>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="input-block">
        <label for="email" class="input-label">Correo Electrónico</label>
        <input type="email" class="form-control" name="email" [(ngModel)] = "user.email" placeholder="Correo electrónico" required="">
      </div>
      <div class="input-block">
        <label for="password" class="input-label">Contraseña</label>
        <div class="password-input">
          <input type="password" class="form-control appended-form-control" id="password" name="password" [(ngModel)] = "user.password" placeholder="Contraseña" required="">
          <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
            <i id="toggleIcon" [class]="isPasswordVisible ? 'toggle-icon fas fa-eye-slash' : 'toggle-icon fas fa-eye'"></i>
          </button>
        </div>
      </div>
      <div class="modal-buttons">
        <a href="" class="">Olvidó la contraseña?</a>
        <button class="input-button">Iniciar Sesión</button>
      </div>
    </form>
      <!--<p class="sign-up">Don't have an account? <a href="#">Sign up now</a></p>-->
    </div>
    <div class="modal-right">
      <img src="assets/img/02.png" alt="">
    </div>