.logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8c7569;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #55311c;
  }